.loginPanel {
  margin-bottom: 11.5%;
  top: 15%;
  position: absolute;
  width: 100%;
  text-align: center;
}

.loginContainer {
  background-color: #fff;
  border: 1px solid #d8dee2;
  padding: 3rem;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  height: auto;
  display: inline-block;
}

.loginForm {
  display: inline-block;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.login-form-group {
  width: 100%;
}

.mandatory::after{
content: '*';
color: red;
}

.loggedInPage{
  top: 25%;
  position: absolute;
  width: 100%;
  text-align: center;
}

.loggedInMessageContainer{
  min-width: 150px;
  min-height: 50px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #d8dee2;
  padding: 3rem;
  border-radius: 10px;
}
