.errorPage {
  top: 25%;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-bottom: 11.5%;
}

.errorMessageContainer {
  min-width: 150px;
  min-height: 50px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #d8dee2;
  padding: 3rem;
  border-radius: 10px;
}
