.dialogContatiner{
    text-align: center;
    background-color: #fff;
    border: 1px solid #d8dee2;
    // padding: 3rem;
    border-radius: 10px;
    min-height: 150px;
}
// .closeMe:hover{
//     background-color: #0a6486;
//     color: whitesmoke;
// }