<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<div class="dialogContatiner">
  <h1 mat-dialog-title>Hi Suraj</h1>
  <div mat-dialog-content>
    <p>Your holding value is</p>
    <p>
      <strong>
        <span style="font-size: larger; color: crimson;">
          113.99 INR
        </span>
      </strong>
    </p>
    <!-- <mat-form-field>
    <input matInput [(ngModel)]="data.holdingValue">
  </mat-form-field> -->
  </div>
  <!-- <button mat-button (click)="onNoClick()" class="closeMe">Close</button> -->
  <!-- <div mat-dialog-actions style="text-align:center;"> -->
  <!-- <button mat-button (click)="onNoClick()">Close Me</button> -->
  <!-- <button mat-button [mat-dialog-close]="data.holdingValue" cdkFocusInitial>Ok</button> -->
  <!-- </div> -->
</div>