.tabGroup{
    background-color: honeydew;
}
.margin50px{
    margin: 50px;
}
.margin15px{
    margin: 15px;
}
.margin25px{
    margin: 25px;
}
.marginBottom100px{
    margin-bottom: 100px;
}
.marginBottom75px{
    margin-bottom: 75px;
}

table {
    width: 100%;
  }
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.logoStyle{
    border-radius: 350px;
    // width: 150px;
}
.logoRadius{
    border-radius: 350px;
    width: 150px;
}
.vs{
    padding: 40px;
}
.versus{
    top: 35%;
    position: static;
    font-size: xx-large;
    font-family: cursive;
    color: darkgray;
}
.winnerStyle{
    padding: 0px 10px 0px 10px;
    text-align: center;
    font-size: xx-large;
    font-family: auto;
    color: cadetblue;
}
.contestantDP{
    border-radius: 125px;
    height: 100%;
    width: 100%;
}