.bg-color {
  background-color: #33b5e5;
}
.btn-outline-color {
  background-color: aliceblue;
  border: none;
}
.btn-outline-color:hover {
  background-color: #0a6486;
  color: whitesmoke;
}
.homeBox:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
