/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    background-color: #33b5e5a8;
}

app-sattebaaz-ipl{
    top: 5rem;
    position: absolute;
    width: 100%;
    text-align: center;
}
app-sattebaaz-stats-board{
    top: 26rem;
    position: absolute;
    width: 100%;
    padding: 0px 20px 0px 20px;
}