.bg-custom{
    background-color: #33b5e5;
    height: 4rem;
}
.start-of-nav{
    font-size: xx-large;
    text-align: center;
}
.tagline{
    padding-left: 1em;
    font-size: small;
    font-style: italic;
}